body{
    background: url(https://images.unsplash.com/photo-1496711914408-534a237d7e26?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
nav{
    background-color: rgba(46, 47, 48, 0.582);
    padding: 25px;
    text-align: right;
    
}
.bttt{
    text-decoration: solid;
    color: white;
    padding-left: 40px;
    font-size: 30px;
}
#lassn{
    padding-top: 12%;
}
.tit{
    text-decoration: solid;
    font-size: 100px;
    text-align: center;
    color: white;
}
.btn{
    text-align: center;
    margin: 20px;
    padding-left: 20px;
    padding-top: 80px;
    
}
.btt2{
    border: none;
    border-radius: 50px;
    font-size: 30px;
    background-color: pink;
    padding: 10px;
}
